<section class="form-section">
    <div class="text">
        <h3>Fique por dentro das tendencias</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quo esse doloribus pariatur nostrum porro, fugit quasi vitae nemo tempore ipsa error rerum possimus, aspernatur accusamus velit harum natus earum!</p>
    </div>

    
<form >
    <label for="name">Name</label>
    <input id="name" />
    <label for="email" >Email</label>
    <input id="email"/>
    <btn-primary variant="secondary" btn-text="se inscreva"></btn-primary>
</form>

</section>

