<section class="form-section">
    <div class="text">
        <h3>Fique por dentro das tendencias</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quo esse doloribus pariatur nostrum porro, fugit quasi vitae nemo tempore ipsa error rerum possimus, aspernatur accusamus velit harum natus earum!</p>
    </div>

    
    <form [formGroup]="newsLetterForm" >
        <label for="name">Name</label>
        <input id="name" formControlName="name"/>
        <label for="email" >Email</label>
        <input id="email" formControlName="email"/>
        <btn-primary variant="secondary" btn-text="se inscreva" (submit)="submit()" [disabled] = "newsLetterForm.invalid"></btn-primary>
    </form>

</section>

